@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="jumbotron p-2 d-flex justify-content-center">
    <h2 class="display-3"><img src="/image/nfl/nfl.png"> National Football League</h2>
</div>

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>This is the homepage for the National Football League.</p>
</div>
